{% macro polish(content) %}
    {{ content | safe }}
{% endmacro content %}

{% macro authors(authors) %}
    {% for author in authors %}
        {{ author.name }}
        {% if author.email %}
            <a href="mailto:{{ author.email | safe }}">&lt{{ author.email | safe }}&gt</a>{% if not loop.last %},{% endif %}
        {% elif author.github %}
            <a href="https://github.com/{{ author.github | safe }}">@{{ author.github | safe }}</a>{% if not loop.last %},{% endif %}
        {% endif %}
    {% endfor %}
{% endmacro authors %}
