{% macro polish(content) %}
    {{ content | safe }}
{% endmacro content %}

{% macro authors(authors) %}
    {% for author in authors %}
        
        {% if author.email %}
            <a href="mailto:{{ author.email | safe }}">{{ author.name }}</a>{% if not loop.last %},{% endif %}
        {% elif author.github %}
            <a href="https://github.com/{{ author.github | safe }}">{{ author.name }}</a>{% if not loop.last %},{% endif %}
        {% endif %}
    {% endfor %}
{% endmacro authors %}
