# GitHub highlighting for Solidity files
# See https://github.com/github/linguist/pull/3973#issuecomment-357507741
*.sol linguist-language=Solidity

# Force Linux line endings on all files
# Necessary for running eipw locally
* text=auto eol=lf
