{%- assign authors=include.authors|split:"," -%}
{%- for author in authors -%}
  {%- if author contains "<" -%}
    {%- assign authorparts=author|split:"<" -%}
    {%- assign author_email = authorparts[1] | remove:">" -%}
    {{authorparts[0]|strip}}&nbsp;&lt;<a href="mailto:{{author_email}}">{{author_email}}</a>&gt;
  {%- elsif author contains "(@" -%}
    {%- assign authorparts=author|split:"(@" -%}
    {%- assign author_github = authorparts[1] | remove:")" -%}
    {{authorparts[0]|strip}}&nbsp;(<a href="https://github.com/{{author_github}}">@{{author_github}}</a>)
  {%- else -%}
    {{author}}
  {%- endif -%}
  {% if forloop.last == false %}, {% endif %}
{%- endfor -%}
