{% assign bystatus = include.eips|sort:"eip"|group_by:"status" %}
{% for group in bystatus %}
  {% if group.name != "" %}
    <h2>{{group.name}}</h2>
    <table>
      <thead>
        <tr><th>Number</th><th>Title</th><th>Author</th></tr>
      </thead>
      {% for page in group.items %}
        <tr>
          <td><a href="{{page.url|relative_url}}">{{page.eip|xml_escape}}</a></td>
          <td>{{page.title|xml_escape}}</td>
          <td>{% include authorlist.html authors=page.author %}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endfor %}
