---
layout: default
---

<div class="home">
  <h1 class="page-heading">EIP {{ page.eip | xml_escape }}: {{ page.title | xml_escape }}</h1>

  <table>
    <tr><th>Author</th><td>{{ page.author | xml_escape }}</td></tr>
    {% if page["discussions-to"] != undefined %}
      <tr><th>Discussions-To</th><td>{{ page["discussions-to"] | xml_escape }}</td></tr>
    {% endif %}
    <tr><th>Status</th><td>{{ page.status | xml_escape }}</td></tr>
    <tr><th>Type</th><td>{{ page.type | xml_escape }}</td></tr>
    <tr><th>Created</th><td>{{ page.created | xml_escape }}</td></tr>
    {% if page.requires != undefined %}
      <tr><th>Requires</th><td>{{ page.requires | xml_escape }}</td></tr>
    {% endif %}
    {% if page.replaces != undefined %}
      <tr><th>Replaces</th><td>{{ page.replaces | xml_escape }}</td></tr>
    {% endif %}
    {% if page["superseded-by"] != undefined %}
      <tr><th>Superseded by</th><td>{{ page["superseded-by"] | xml_escape }}</td></tr>
    {% endif %}
    {% if page.resolution != undefined %}
      <tr><th>Resolution</th><td>{{ page.resolution | xml_escape }}</td></tr>
    {% endif %}
  </table>

  {{ content }}

</div>
