on:
  pull_request_target:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

name: Jekyll Label Bot
jobs:
  jekyll-label-action:
    name: Label
    runs-on: ubuntu-latest
    
    steps:
      - uses: Pandapip1/jekyll-label-action@d0fd82c3cd118140a50843906845fca8e59a8b9e
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-path: config/.jekyll-labels.yml
